<!DOCTYPE html>


<html lang="en">       
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Algerian Forest</title>
    <link rel="stylesheet" href="style.css"> 

</head>
<body>
    <div class="container">
        <h1>Algerian Forest</h1>
        <p>Algeria is home to a variety of forests, including the famous cedar forests of the Kabylie region and the cork oak forests in the Tell Atlas. These forests are not only important for their biodiversity but also play a crucial role in the local climate and economy. The Algerian government has implemented various conservation efforts to protect these valuable ecosystems from deforestation and other environmental threats.</p>
    </div>
</html>
